@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  background: #05020D;
  
}

.border-gradient {
  background: linear-gradient(to right, #21D4FD, #B721FF);
}
.custom-gradient {
  background: linear-gradient(290deg, #21D4FD 15.9%, #B721FF 82.02%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.gradient-text {
  color: linear-gradient(290deg, #21D4FD 15.9%, #B721FF 82.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience{
  -webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #FFF;
}

.gradient-text {
  color: linear-gradient(290deg, #21D4FD 15.9%, #B721FF 82.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease; /* Add a smooth transition for the color change */
}

.gradient-text:hover {
  color: linear-gradient(45deg, #FF0000, #00FF00); /* Replace with your desired hover gradient */
}

input:focus {
  outline: none;
}

.custom-gradient {
  border-color: gradient-to-r from-purple-500 via-purple-700 to-blue-500;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #05020D ;
    --background-end-rgb: #05020D
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #05020D;
} */

/* .ul .ABNM{
  list-style-type: lower-alpha;
  color: #FFF;
} */

.border-gradient {
  border: 4px solid;
  border-image: linear-gradient(to right, #8A2BE2, #4B0082, #0000FF);
  border-image-slice: 1;
 
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 40s linear infinite;
 
}

.marquee-item {


  display: inline-block;
  padding-right: 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} 
body {
  overflow-x: hidden;
}
.gradient-background {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 4.08%, rgba(0, 0, 0, 0.58) 27%, rgba(0, 0, 0, 0.73) 54.48%, #000 100%);
  /* Add other styles as needed */
}

.GFG { 
  /* color: black;  */
  /* -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: white;  */

  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FFF;

} 


.ABC{
  border-radius: 10.638px;
  border: var(--blur-1, 1.596px) solid rgba(255, 255, 255, 0.24);
  background: linear-gradient(227deg, rgba(255, 255, 255, 0.03) 25.7%, rgba(255, 255, 255, 0.07) 94.73%);
  backdrop-filter: blur(58.41869354248047px);
}

.VCX{
  display: flex;
width: 386.17px;
padding: 12.766px;
align-items: flex-end;
align-content: flex-end;
gap: 12px 31.915px;
flex-wrap: wrap;
}

.our-product-slider .swiper-initialized .swiper-slide:nth-child(1).swiper-slide-active {
  margin-left: 200px !important;
}

.our-product-slider .swiper-initialized .swiper-slide:last-child.swiper-slide-active {
  margin-right: 200px !important;
}

/* .round{
  border: 2px solid transparent;
 
  background: 
  linear-gradient(#151515,#151515) padding-box,
  linear-gradient(to top, #11998e, #38ef7d) border-box;
  border-radius: 50%;
} */

/* swiper button */
.round {
  border: 2px solid transparent;
  background: 
    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to right, #fff,#fff) border-box;
  border-radius: 50%;
}
.round:hover {
  border: 2px solid transparent;
  background: 

    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to right, #8920fe,#45c4f9) border-box;
    border-radius: 50%;
    
}


.btn {
  border: 2px solid transparent;
  background: 

    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to right, #FF0BE5,#8920FE,#45C4F9 ) border-box;
    /* border-radius: 50%; */
    
}

.box {
  background: 
    linear-gradient(#1A1826, #1A1826) padding-box,
    linear-gradient(to right, #FF0BE5,#8920FE,#45C4F9 ) border-box;
    border: 2px solid transparent;   
}

.lookingborder {
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #FF0BE5,#8920FE,#45C4F9 ) border-box;
    border: 2px solid transparent;   
}

/* swiper slide border */
.square {
  border: 2px solid transparent;
  background: 
    linear-gradient(#1A1826, #1A1826) padding-box,
    linear-gradient(to top, #1A1826, #1A1826) border-box;
}
.square:hover {
  background: 
    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to right, #8920fe,#45c4f9) border-box;
    border: 2px solid transparent;   
}
/* filter component used  */

/* 
100%

100%
*/
.toolsborder {
  border: 2px solid transparent;
  background: 
    linear-gradient(#1A1826, #1A1826) padding-box,
    linear-gradient(to top, #1A1826, #1A1826) border-box;
}
.toolsborder:hover {
  background: 
    linear-gradient(#1A1826, #1A1826) padding-box,
    linear-gradient(to right, #FF0BE5,#8920FE,#45C4F9 ) border-box;
    border: 2px solid transparent;   
}
.filter {
  border: 2px solid transparent;
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to top, #1B1B1B, #1B1B1B) border-box;
}
.filter:hover {
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #8920fe,#45c4f9) border-box;
    border: 2px solid transparent;     
}

.color-texts {
  background: linear-gradient(290deg, #fff 15.9%, #fff 82.02%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.color-texts:hover {
  background: linear-gradient(290deg, #21D4FD 15.9%, #B721FF 82.02%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* button side border filter */

.adc {
  border: 2px solid transparent;
  background: 
    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to top, #fff, #fff) border-box;
  border-radius: 50px;
}

/* partnership border */

.partner {
  border: 2px solid transparent;
  background: 
  linear-gradient(#151515, #151515) padding-box,
  linear-gradient(to right, #8920fe,#45c4f9) border-box;
 border-radius: 14px;

}
.adc:hover {
  background: 
    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to right, #8920fe,#45c4f9) border-box;
    border-radius: 50px;
    border: 2px solid transparent;
}

/* //feature round */
.round2 {
  border: 2px solid transparent;
  background: 
    linear-gradient(#1A1826, #1A1826) padding-box,
    linear-gradient(to right, #1A1826,#1A1826) border-box;
  border-radius: 50%;
}
.round2:hover {
  border: 2px solid transparent;
  background: 

    linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to right, #8920fe,#45c4f9) border-box;
    border-radius: 50%; 
}

 .slide-in-elliptic-left-fwd{-webkit-animation:slide-in-elliptic-left-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-left-fwd .7s cubic-bezier(.25,.46,.45,.94) both}


 @-webkit-keyframes slide-in-elliptic-left-fwd{0%{-webkit-transform:translateX(-800px) rotateY(30deg) scale(0);transform:translateX(-800px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:0}100%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:1800px 50%;transform-origin:1800px 50%;opacity:1}}@keyframes slide-in-elliptic-left-fwd{0%{-webkit-transform:translateX(-800px) rotateY(30deg) scale(0);transform:translateX(-800px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:0}100%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:1800px 50%;transform-origin:1800px 50%;opacity:1}}





  
 .card{
  position: sticky;
  top: 0px;
  width: 100%;
  margin: 0 auto;  
  background-color: #1A1826;
  color: white;
  box-shadow: 0 -5px 10px black,
      0 5px 10px black; 

 }
 .card:nth-child(2){
  top: 36px;
 }
 .card:nth-child(3){
  top: 72px;
 }
 .card:nth-child(4){
  top: 108px;
 }
 .card:nth-child(5){
  top: 144px;
 }
 .content {
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.content::-webkit-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

.content::-webkit-scrollbar-thumb {
  background-color: transparent; /* Adjust as needed */
}











